.footer {
    text-align: center;
    padding: 10px; 
    color: var(--footer-text);

    margin-top: auto;
}

/* Zarovnání textu a ikonek */
p {
    margin: 0; /* Zrušení výchozího okraje odstavce */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap; /* Zajistí, že se to na úzkých mobilech případně hezky zlomí */
}

.footer a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
    color: var(--footer-text);
}

.footer a:hover {
    color: var(--text-and-boxshadows);
    transform: scale(1.03);
    transition: 0.2s ease;
}