.home-container {
    color: var(--text-and-boxshadows);

    margin: 40px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
}

.home-subtitle {
    font-size: larger;
    color: var(--main-text);
    max-width: 90%;
}

.enter-button {
    margin: 20px 0 20px;
    color: var(--card-background);
    font-size: 1.1rem;
    border-radius: 16px;
    padding: 10px;
}

.enter-button:link {
    text-decoration: none;
    background-color: var(--button);
}

.enter-button:hover {
    transform: scale(1.03);
    transition: 0.2s ease;
    background-color: var(--text-and-boxshadows);
}